PORT = 2700
MONGODB_URI = 
CORS_ORIGIN = *
ACCESS_TOKEN_SECRET = KBKHBHKBKJBkjbkhbyguhHGDybVYFjbKUYGYUg
ACCESS_TOKEN_TIME = 1d
REFRESH_TOKEN_SECRET = HKBKJBKKJNNkhiuhlmkjkbvghcytfiojtfdrfg
REFRESH_TOKEN_TIME = 10d
CLOUDINARY_CLOUD_NAME =  
CLOUDINARY_API_KEY =  
CLOUDINARY_API_SECRET = 